@{
    ViewData["Title"] = "Home Page";
}



<div class="w-lg-50" id="price">
    <!--begin::Label-->
    <label class="fs-6 fw-semibold mb-2">
        Daily Budget

        <span class="m2-1" data-bs-toggle="tooltip" title="Choose the budget allocated for each day. Higher budget will generate better results">
            <i class="ki-duotone ki-information fs-7"><span class="path1"></span><span class="path2"></span><span class="path3"></span></i>
        </span>
    </label>
    <!--end::Label-->
    

    <!--begin::Slider-->
    <div class="d-flex flex-column text-center">
        <div class="d-flex align-items-start justify-content-center mb-7">
            <span class="fw-bold fs-4 mt-1 me-2">$</span>
            <span class="fw-bold fs-3x" id="kt_modal_create_campaign_budget_label"></span>
            <div class="fw-bold fs-3x" id="kt_docs_forms_advanced_interactive_slider_label">0</div>
            <span class="fw-bold fs-3x">.00</span>
        </div>
        <div id="slider" class="noUi-sm"></div>
    </div>
    <!--end::Slider-->
    
</div>

@section Scripts {
    <script type="text/javascript">
var budgetSlider = document.querySelector("#slider");
var budgetValue = document.querySelector("#kt_docs_forms_advanced_interactive_slider_label");

noUiSlider.create(budgetSlider, {
    start: [5],
    connect: true,
    range: {
        "min": 1,
        "max": 500
    }
});

budgetSlider.noUiSlider.on("update", function (values, handle) {
    budgetValue.innerHTML = Math.round(values[handle]);
    if (handle) {
        budgetValue.innerHTML = Math.round(values[handle]);
    }
});
    </script>
    

}